/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.panel {
	margin: 0 auto;
	margin-top: 100px;
	width: 700px;
}

.login {
	position: absolute;
	top: 5px;
	right: 10px;
}

.error {
	background-color: red;
}

.success {
	background-color: green;
}

.table-panel {
	text-align: center;
}

.table-panel td { 
	padding: 5px;
	border: 1px solid black;
}

.action input {
	display: inline;
	float: left;
	margin-right: 10px;
}

.hide {
	display: none;
}